*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  body {
    background: #1d1f29;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    width: 100%;
    padding: 2.25rem 1.5rem 5.25rem 1.5625rem;
    background: #20222f;
    border-radius: 0px 0px 20px 20px;
  }
  header .text h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
  header .text p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #8c98c6;
  }
  header hr {
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  header .toogle-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .toogle-switch p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #8c98c6;
  }
  header .toogle-switch button {
    background: linear-gradient(225deg, #40db82 0%, #388fe7 98.02%);
    border-radius: 12px;
    height: 24px;
    width: 48px;
    position: relative;
  }
  header .toogle-switch button::before {
    content: "";
  }
  main {
    width: 20.375rem;
    margin-top: -44px;
    padding-bottom: 45px;
  }
  main .first-grid {
    display: grid;
    gap: 1.5rem;
  }
  main .first-grid .one {
    border-top: 4px solid #178ff5;
  }
  main .first-grid .two {
    border-top: 4px solid #1da1f2;
  }
  main .first-grid .three {
    border-top: 4px solid #fdc366;
  }
  main .first-grid .four {
    border-top: 4px solid #c4032b;
  }
  main .first-grid .box {
    background: #252b42;
    border-radius: 5px;
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .first-grid .box .icon-and-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  main .first-grid .box .icon-and-name .icon-social-media {
    height: 20px;
    width: 20px;
  }
  main .first-grid .box .icon-and-name p {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #8c98c6;
  }
  main .first-grid .box .numbers-of-followers {
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
  }
  main .first-grid .box .numbers-of-followers h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2px;
    color: #ffffff;
    margin-bottom: 9px;
  }
  main .first-grid .box .numbers-of-followers p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #8c98c6;
  }
  main .first-grid .box .today {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  main .first-grid .box .today .icon-arrow {
    height: 4px;
    width: 8px;
  }
  main .first-grid .box .today p {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #d8d8d8;
  }
  main .second-grid h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 27px;
    margin-top: 46px;
  }
  main .second-grid .grid-container {
    display: grid;
    gap: 1rem;
  }
  main .second-grid .grid-container .rectangle {
    background: #252b42;
    border-radius: 5px;
    height: 7.8125rem;
    padding-left: 1.5rem;
    padding-right: 1.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .second-grid .grid-container .rectangle .category-and-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  main .second-grid .grid-container .rectangle .category-and-icon p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #8c98c6;
  }
  main .second-grid .grid-container .rectangle .category-and-icon .icon-social {
    height: 20px;
    width: 20px;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage .arrow-and-percentage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage .arrow-and-percentage .icon-up-or-down {
    height: 4px;
    width: 8px;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage .arrow-and-percentage p {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #1eb589;
  }
}
/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  body {
    background: #1d1f29;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    width: 100%;
    padding: 2.25rem 10.3125rem 9.625rem 10.125rem;
    background: #20222f;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .text h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
    margin-bottom: 3px;
  }
  header .text p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #8c98c6;
  }
  header hr {
    display: none;
  }
  header .toogle-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .toogle-switch p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #8c98c6;
    margin-right: 13px;
  }
  header .toogle-switch button {
    background: linear-gradient(225deg, #40db82 0%, #388fe7 98.02%);
    border-radius: 12px;
    height: 24px;
    width: 48px;
    position: relative;
  }
  header .toogle-switch button::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 18px;
    height: 18px;
    background-color: #252b42;
    border-radius: 50%;
  }
  main {
    width: 69.375rem;
    margin-top: -44px;
    padding-bottom: 75px;
  }
  main .first-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem;
  }
  main .first-grid .one {
    border-top: 4px solid #178ff5;
  }
  main .first-grid .two {
    border-top: 4px solid #1da1f2;
  }
  main .first-grid .three {
    border-top: 4px solid #fdc366;
  }
  main .first-grid .four {
    border-top: 4px solid #c4032b;
  }
  main .first-grid .box {
    background: #252b42;
    border-radius: 5px;
    height: 13.5rem;
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .first-grid .box .icon-and-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  main .first-grid .box .icon-and-name .icon-social-media {
    height: 20px;
    width: 20px;
  }
  main .first-grid .box .icon-and-name p {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #8c98c6;
  }
  main .first-grid .box .numbers-of-followers {
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
  }
  main .first-grid .box .numbers-of-followers h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2px;
    color: #ffffff;
    margin-bottom: 9px;
  }
  main .first-grid .box .numbers-of-followers p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #8c98c6;
  }
  main .first-grid .box .today {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  main .first-grid .box .today .icon-arrow {
    height: 4px;
    width: 8px;
  }
  main .first-grid .box .today p {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #d8d8d8;
  }
  main .second-grid h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 27px;
    margin-top: 46px;
  }
  main .second-grid .grid-container {
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-rows: 125px 125px;
    gap: 1.5rem 30px;
  }
  main .second-grid .grid-container .rectangle {
    background: #252b42;
    border-radius: 5px;
    height: 7.8125rem;
    padding-left: 1.5rem;
    padding-right: 1.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .second-grid .grid-container .rectangle .category-and-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  main .second-grid .grid-container .rectangle .category-and-icon p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #8c98c6;
  }
  main .second-grid .grid-container .rectangle .category-and-icon .icon-social {
    height: 20px;
    width: 20px;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage .arrow-and-percentage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage .arrow-and-percentage .icon-up-or-down {
    height: 4px;
    width: 8px;
  }
  main .second-grid .grid-container .rectangle .number-and-percentage .arrow-and-percentage p {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #1eb589;
  }
}
/*############ for-tablet-landscape-up #############*/
/*############ for-desktop-up ###########*/
/*############ for-big-desktop-up ##########*//*# sourceMappingURL=style.css.map */